header {
    background: maroon;
    color: white;
    text-align: center;
    padding: 2px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.back-btn {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    color: maroon;
    font-weight: bold;
    font-size: 1.1rem;
}

.back-btn:hover {
    color: red;
}

.card {
    background: white;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 15px;
    transition: 0.3s;
    
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 10px 0;
}

.card span {
    display: block;
    color: maroon;
    font-weight: bold;
    margin: 10px 0;
}

.card button {
    background: maroon;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    width: 100%;
}

.products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 40px;
}

.search-container {
    text-align: center;
    margin: 20px 0;
}

#search {
    padding: 10px 15px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
#search:focus {
    border-color: #800000;
    outline: none;
    box-shadow: 0 0 5px rgba(128, 0, 0, 0.5);
}